@charset "utf-8";
@font-face {
  font-family: "본명조";
  src: url(webfonts/SourceHanSerifK-Regular.otf) format(otf);
}
@font-face {
  font-family: "BASKVILL";
  src: url(webfonts/BASKVILL.TTF.woff) format(woff);
}
* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "BASKVILL", "본명조", sans-serif;
  background: #ddd;
}
.head {
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
}
.head .headwrap {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: 50px auto 0;
}
.head .headwrap .headwrap2 {
  width: 664px;
  display: flex;
  justify-content: space-between;
}
.head .headwrap .headwrap2 .cartierlogo a img {
  width: 48px;
  height: 68px;
}
.head .headwrap .headwrap2 .topico ul {
  display: flex;
}
.head .headwrap .headwrap2 .topico ul li {
  width: 25px;
  height: 21px;
  margin-left: 10px;
}
.head .headwrap .headwrap2 .topico ul li a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bg,
.bg_bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* mix-blend-mode: screen; */
  /* z-index: 1; */
}
.bg p,
.bg_bottom p {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.bg p {
  animation: top 2s forwards;
}
.bg_bottom p {
  animation: bottom 2s forwards;
}
.first {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.firstpage {
  /* background-image: linear-gradient(45deg, #5e0100, #b30100); */
}
.firstpage .mv_inne .mainvisualwrap {
  /* width: 100%;
  height: 960px; */
}
.firstpage .mainvisualwrap .mv_inner > div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-image: linear-gradient(45deg, #5e0100, #b30100);
}
.firstpage .mainvisualwrap .mv_inner > div p,
.firstpage .mainvisualwrap .mv_inner > div span,
.bg span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.firstpage .mainvisualwrap .mv_inner .topwrap span:last-child {
  position: absolute;
  left: 0;
  top: 0;
}
.firstpage .mainvisualwrap .mv_inner .topwrap span:first-of-type,
.bg span:first-of-type {
  mix-blend-mode: multiply;
}
.firstpage .mainvisualwrap .mv_inner .topwrap span:last-of-type,
.bg span:last-of-type {
  mix-blend-mode: screen;
}
.firstpage .mainvisualwrap .mv_inner .bottomwrap p {
  top: -50px;
}
.firstpage .mainvisualwrap .mv_inner .bottomwrap span:first-of-type,
.bg_bottom span:first-of-type {
  mix-blend-mode: multiply;
}
.firstpage .mainvisualwrap .mv_inner .bottomwrap span:last-of-type,
.bg_bottom span:last-of-type {
  mix-blend-mode: screen;
}
.secondpage {
  height: 100vh;
  background: transparent;
}
.topwrap p {
  animation: top 2s forwards;
}
.bottomwrap p {
  animation: bottom 2s forwards;
}
@keyframes top {
  0% {
    top: 400px;
  }
  100% {
    top: 2px;
  }
}
@keyframes bottom {
  0% {
    top: -150px;
  }
  100% {
    top: 0px;
  }
}
